h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('pattern.jpeg');
  width: 85%;
  margin: 50 auto;
}

table {
  width: 85%;
  align-items: center;
}

.brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
  text-align: left;
}

.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
  text-align: left;
}

.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
  text-align: left;
}

image {
  width: 25%;
  height: 25%;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

td {
  font-family: Helvetica;
}
